<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-bg">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Artistas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <swiper-container>
      <swiper-slide *ngFor="let item of slides">
        <ion-icon name="musical-notes-outline"></ion-icon>
        <h2 class="letter-black">{{item.name}}</h2>
        <img src="{{item.image}}" alt="{{item.name}}">
        <p class="letter-black">Géneros: {{item.genres.join(', ')}}</p>
        <p class="letter-black">Seguidores: {{item.followers}}</p>
        <p class="letter-black">Popularidad: {{item.popularity}}%</p>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
