<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <swiper-container>
      <swiper-slide>
        <h2>Imagen 1</h2>
        <img src="https://picsum.photos/1280/720?random=1" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis dicta obcaecati animi omnis velit laborum unde repellat, ipsa impedit possimus quae, tempore ratione placeat est. Dolore sunt perspiciatis officiis consequuntur?</p>
      </swiper-slide>
      <swiper-slide>
        <h2>Imagen 2</h2>
        <img src="https://picsum.photos/1280/720?random=2" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis dicta obcaecati animi omnis velit laborum unde repellat, ipsa impedit possimus quae, tempore ratione placeat est. Dolore sunt perspiciatis officiis consequuntur?</p>
      </swiper-slide>
      <swiper-slide>
        <h2>Imagen 3</h2>
        <img src="https://picsum.photos/1280/720?random=3" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis dicta obcaecati animi omnis velit laborum unde repellat, ipsa impedit possimus quae, tempore ratione placeat est. Dolore sunt perspiciatis officiis consequuntur?</p>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
